<link rel="stylesheet" href="/css/loginForm.css">

<div class="login-container">
  <div class="login-card">
    <div class="login-card-content">
      <h2>登入</h2>
      <% if @error %><div class="error"><%= @error %></div><% end %>

      <form method="post" action="/login">
        <input name="email"  placeholder="Email">
        <input name="password" type="password" placeholder="Password">
        <div class="captcha-row">
          <canvas id="captcha-canvas" width="110" height="36" style="border:1px solid #ccc;"></canvas>
          <button type="button" id="captcha-refresh" class="captcha-refresh" aria-label="重載入" title="重載入">
            <img src="/icons/reload.svg" alt="" class="icon-sock" width="20" height="20">
          </button>
          <input name="captcha" placeholder="請輸入驗證碼">
        </div>
        <button type="submit">登入</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/drawCaptcha.js"></script>
